<div class="container">
    <div class="list">
      <h4>Listagem Usuários</h4>
      <ul class="student-list">
        <li
          *ngFor="let user of users; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveUser(user, i)"
        >
          {{ user.nome }}
        </li>
      </ul>
    </div>
    <div class="current-student">
      <div *ngIf="currentUser">
        <h4>User</h4>
        <div>
          <label><strong>Nome:</strong></label> {{ currentUser.nome }}
        </div>
        <div>
          <label><strong>CPF:</strong></label>
          {{ currentUser.cpf }}
        </div>
        <div>
          <label><strong>Privilegio:</strong></label>
          {{ currentUser.privilegio }}
        </div>
      </div>

      <div *ngIf="!currentUser">
        <br />
        <p>Clique em um usuário...</p>
      </div>
    </div>
  </div>
