<div style="width: 400px; margin: auto; padding-top: 1rem">
  <div class="divPlant">
    <div *ngIf="!submitted">

      <div class="group divSelectProduct">
        <label for="description">Produto</label>
        <select (change)="onSelectProduct($event.target.value)">
          <option *ngFor="let i of products"> {{i.nome}} </option>
        </select>
      </div>


      <div class="group divSelectUser">
        <label for="description">Usuario</label>

        <select (change)="onSelectUser($event.target.value)">
          <option *ngFor="let i of users"> {{i.nome}} </option>
        </select>
      </div>

      <div class="group divQuantity">
        <label for="description">Quantidade</label>
        <input id="description" required [(ngModel)]="plantio.quantidade" name="description" type="number" />
      </div>

      <div class="group divQuantity">
        <label for="description">Data</label>
        <input id="description" required [(ngModel)]="plantio.data_plantio" name="description" type="date" />
      </div>

      <button class="buttonSend" (click)="savePlantio()">Enviar</button>
    </div>

    <div *ngIf="submitted">
      <h4>Plantio criado!</h4>
      <a href="#">Voltar</a>
    </div>
  </div>
</div>
