<div style="width: 400px; margin: auto; padding-top: 1rem">
  <div class="divFindProduct">
    <h2>Selecione um Produto</h2>
    <select (change)="onSelectProduto($event.target.value)">
      <option *ngFor="let i of produtos"> {{i.nome}} </option>
    </select>

    <div *ngIf="filteredPlantios">
      <h4>Listagem de Plantios com o Produto selecionado</h4>
      <ul class="student-list">
        <li *ngFor="let plantio of filteredPlantios; let i = index" [class.active]="i == currentIndex" (click)="setActivePlantio(plantio, i)">
          {{ plantio.userId }} - {{ plantio.produtoId }}
        </li>
      </ul>
    </div>

    <div class="current-student">
      <div *ngIf="currentPlantio">
        <h4>User</h4>
        <div>
          <label><strong>Nome:</strong></label> {{ currentPlantio.userId }}
        </div>
        <div>
          <label><strong>CPF:</strong></label>
          {{ currentPlantio.produtoId }}
        </div>
        <div>
          <label><strong>Produto:</strong></label>
          {{ currentPlantio.quantidade }}
        </div>
        <div>
          <label><strong>Mensalidade:</strong></label>
          {{ currentPlantio.data_plantio }}
        </div>
      </div>

    </div>
  </div>
</div>
