<div style="width: 400px; margin: auto;">
  <div class="list" *ngIf="!currentAluno">
    <h4>Listagem Alunos</h4>
    <ul class="student-list">
      <li
        *ngFor="let aluno of alunos; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveAluno(aluno, i)"
      >
        {{ aluno.nome }}
      </li>
    </ul>

    <div class="current-student">
      <div>
        <br />
        <p>Selecione um aluno</p>
      </div>
    </div>
  </div>


    <div *ngIf="currentAluno">
      <h4>Aluno</h4>
      <div>
        <label><strong>Nome:</strong></label> {{ currentAluno.nome }}
      </div>
      <div>
        <label><strong>CPF:</strong></label>
        {{ currentAluno.cpf }}
      </div>
      <div>
        <label><strong>Instrumento:</strong></label>
        {{ currentAluno.instrumento }}
      </div>
      <div>
        <label><strong>Mensalidade:</strong></label>
        {{ currentAluno.mensalidade }}
      </div>

      <form>
        <div>
          <label><strong>Nova mensalidade:</strong></label>
            <input
              id="nova-mensalidade"
              required
              [(ngModel)]="novaMensalidade"
              name="nova-mensalidade"
              type="number"
            />
   
        </div>
      </form>

      <button
        type="submit"
        class="badge badge-success"
        (click)="updateAluno()"
      >
        Update
      </button>
      <p>{{ message }}</p>
      <a href="/">Voltar para listagem</a>
    </div>
  </div>
  