<div style="width: 400px; margin: auto; padding-top: 1rem; color: white;">
  <div class="divProduct">
    <div *ngIf="!submitted">
      <div class="group">
        <label for="description">Nome</label>
        <input
          class="inputProduto"
          id="description"
          required
          [(ngModel)]="produto.nome"
          name="description"
          placeholder="  Ensira o seu nome"
        />
      </div>


      <div class="group divPeriod">
        <label for="description">Época</label>

        <select (change)= "onSelectInstrument($event.target.value)" >
          <option *ngFor = "let i of epoca" > {{i}} </option >
        </select>
      </div>

      <div class="group divTime">
        <label for="description">Tempo de colheita (dias)</label>
        <input
          class="inputProduto"
          id="description"
          required
          [(ngModel)]="produto.tempo_colheita"
          name="description"
          type="number"
        />
      </div>

      <button class="buttonSend" (click)="saveProduto()">Enviar</button>
    </div>

    <div *ngIf="submitted">
      <h4>Produto criado!</h4>
      <a href="#">Voltar</a>
    </div>
  </div>
</div>
