<div style="width: 400px; margin: auto;">
  <div class="list" *ngIf="!currentUser">
    <h4>Listagem Users</h4>
    <ul class="student-list">
      <li
        *ngFor="let user of users; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveUser(user, i)"
      >
        {{ user.nome }}
      </li>
    </ul>

    <div class="current-student">
      <div>
        <br />
        <p>Selecione um user</p>
      </div>
    </div>
  </div>


    <div *ngIf="currentUser">
      <h4>User</h4>
      <div>
        <label><strong>Nome:</strong></label> {{ currentUser.nome }}
      </div>
      <div>
        <label><strong>CPF:</strong></label>
        {{ currentUser.cpf }}
      </div>
      <div>
        <label><strong>Produto:</strong></label>
        {{ currentUser.produto }}
      </div>
      <div>
        <label><strong>Mensalidade:</strong></label>
        {{ currentUser.mensalidade }}
      </div>

      <form>
        <div>
          <label><strong>Nova mensalidade:</strong></label>
            <input
              id="nova-mensalidade"
              required
              [(ngModel)]="novaMensalidade"
              name="nova-mensalidade"
              type="number"
            />

        </div>
      </form>

      <button
        type="submit"
        class="badge badge-success"
        (click)="updateUser()"
      >
        Update
      </button>
      <p>{{ message }}</p>
      <a href="/">Voltar para listagem</a>
    </div>
  </div>
